@model ProgramcininAdi
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
                <table>
                    <tr>
                        <td style="color:darkblue;font-size:20px;"> Adınızı Giriniz : </td>
                        <td>@Html.EditorFor(name => name.Ad) </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Ekrana Programcının Adını Yazdır" />
                        </td>
                    </tr>        
                    
                    <tr>
                        <td>
  @* @for (int i = 1; i <= 10; i++) bu şekilde olsaydı sayıyı 2 defa arttıracak*@
            @*2 ile başayacak 4 e geçecek*@    
                @for (int i = 0; i <= 10; )
                    {
                        @ViewBag.Message
                        <br />
                        i++;
                    }
                        </td>
                    </tr>
                </table>
        }
    </div>
</body>
</html>
